body {
    background-color: #B9C6CA;
    text-align: center;
    margin: auto;
}

img {
    width: 34%;
    height: 34%;
    min-width: 300px;
    min-height: 400px;
    border: none;
}

ul {
    list-style-type: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}

#description {
  font-size: 40px;
}

#nav {
  background-color: #8FACB3;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 1%;
}

#contact {
  background-color: #739BA4;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 1%;
}

#joke {
  background-color: #5F8088;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 800px;
  margin: auto;
  margin-bottom: 1%;
}

#hobbies {
  background-color: #8FACB3;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 800px;
  margin: auto;
}

#music {
  background-color: #739BA4;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 800px;
  margin: auto;
}


h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}

h2 {
  font-family: 'DM Serif Text', serif;
  font-size: 30px;
}

h3 {
  font-family: 'DM Serif Text', serif;
  font-size: 30px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: bold;
  text-transform: none;
  color: #153A43;
}

a:hover {
    font-weight: bold;
    background-color: #B9C6CA;
    color: #153A43;
    opacity: 0.7;
}

@media screen and (min-width: 600px) {
  ul {
    display:flex;
    flex-direction: row;
  }
  li {
    width: 50%;
  }
}
